<div class="header-container container">
  <div class="header-container__wrap-desktop">
    <div class="logo">
      <a routerLink="/">
        <img src="../../../../assets/images/logo.svg" alt="">
      </a>
    </div>
    <div class="links" *ngFor="let link of links">
      <a [routerLink]="link.url"> {{link.text | transloco}} </a>
    </div>
  </div>
  <div class="header-container__wrap-desktop">
    <div class="copyable-text">
      <a href="tel:(303) 555-0155"> (303) 555-0155 </a>
    </div>
    <div class="copyable-text">
      <a href="mailto:example@gmail.com"> example@gmail.com </a>
    </div>
    <div class="language-dropdown" (click)="showDropdown()">
      <div class="lang-row">
        <p class="selected-language"> {{selectedLanguage | uppercase}} </p>
        <svg _ngcontent-ayk-c14="" width="12" height="4" viewBox="0 0 12 4" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path _ngcontent-ayk-c14="" d="M5.70824 3.87158L0.350764 0.314149L11.0657 0.31415L5.70824 3.87158Z" fill="#161616"></path>
        </svg>
      </div>
      <div class="dropdown-menu" [class.dropdown-visible]="dropdownVisibility">
        <div *ngFor="let language of languages" class="language-select" (click)="setLanguage(language)">
          <p>{{ language | uppercase}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="header-container__wrap-mobile">
    <div class="logo">
      <a routerLink="/">
        <img src="../../../../assets/images/logo.svg" alt="">
      </a>
    </div>
  </div>
  <div class="header-container__wrap-mobile">
    <div class="burger" *ngIf="!showBurger" (click)="flipBurger()">
      <svg width="36" height="24" viewBox="0 0 36 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M34.6685 13.1998H1.06851C0.737306 13.1998 0.468506 12.931 0.468506 12.5998V11.3998C0.468506 11.0686 0.737306 10.7998 1.06851 10.7998H34.6685C34.9997 10.7998 35.2685 11.0686 35.2685 11.3998V12.5998C35.2685 12.931 34.9997 13.1998 34.6685 13.1998Z"
          fill="#212121"/>
        <path
          d="M34.6682 2.4H17.2682C16.937 2.4 16.6682 2.1312 16.6682 1.8V0.6C16.6682 0.2688 16.937 0 17.2682 0H34.6682C34.9994 0 35.2682 0.2688 35.2682 0.6V1.8C35.2682 2.1312 34.9994 2.4 34.6682 2.4Z"
          fill="#212121"/>
        <path
          d="M18.4685 24.0001H1.06851C0.737306 24.0001 0.468506 23.7313 0.468506 23.4001V22.2001C0.468506 21.8689 0.737306 21.6001 1.06851 21.6001H18.4685C18.7997 21.6001 19.0685 21.8689 19.0685 22.2001V23.4001C19.0685 23.7313 18.7997 24.0001 18.4685 24.0001Z"
          fill="#212121"/>
      </svg>
    </div>
  </div>
</div>
<div [class.show-burger]="showBurger" class="burger-menu">
  <div class="close-menu" (click)="flipBurger()">
    <svg fill="#000000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="40px" height="40px">
      <path
        d="M 25 2 C 12.309534 2 2 12.309534 2 25 C 2 37.690466 12.309534 48 25 48 C 37.690466 48 48 37.690466 48 25 C 48 12.309534 37.690466 2 25 2 z M 25 4 C 36.609534 4 46 13.390466 46 25 C 46 36.609534 36.609534 46 25 46 C 13.390466 46 4 36.609534 4 25 C 4 13.390466 13.390466 4 25 4 z M 32.990234 15.986328 A 1.0001 1.0001 0 0 0 32.292969 16.292969 L 25 23.585938 L 17.707031 16.292969 A 1.0001 1.0001 0 0 0 16.990234 15.990234 A 1.0001 1.0001 0 0 0 16.292969 17.707031 L 23.585938 25 L 16.292969 32.292969 A 1.0001 1.0001 0 1 0 17.707031 33.707031 L 25 26.414062 L 32.292969 33.707031 A 1.0001 1.0001 0 1 0 33.707031 32.292969 L 26.414062 25 L 33.707031 17.707031 A 1.0001 1.0001 0 0 0 32.990234 15.986328 z"/>
    </svg>
  </div>
  <div class="upper-block">
    <div class="links" *ngFor="let link of links">
      <a [routerLink]="link.url" (click)="flipBurger()"> {{link.text | transloco}} </a>
    </div>

    <div class="language-dropdown" (click)="showDropdown()">
      <p class="selected-language mobile"> {{selectedLanguage | uppercase}} </p>

      <div class="dropdown-menu" [class.dropdown-visible]="dropdownVisibility">
        <div *ngFor="let language of languages" class="language-select" (click)="setLanguage(language)">
          <p>{{ language | uppercase}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="lower-block">
    <a class="copyable-text" href="tel:(303) 555-0155"> (303) 555-0155</a>
    <a class="copyable-text" href="mailto:example@gmail.com"> example@gmail.com</a>
  </div>
</div>
