@use "/src/styles/variables/variables" as *;
@use "/src/styles/variables/media-mixins" as *;

.header-container {
  height: 100px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 200;

  font-style: normal;
  font-weight: $font-medium;
  font-size: 16px;
  line-height: 19px;
  color: $dark-grey2;

  &__wrap-mobile {
    display: none;

    @include screen-992 {
      display: block;

      .logo, .links {
        cursor: pointer;
      }

      .logo {
        font-weight: $font-medium;
        text-decoration: underline;
        font-size: 30px;
      }
    }
  }

  &__wrap-desktop {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;

    .copyable-text {
      .copy-icon {
        visibility: hidden;
        width: 30px;
        height: 30px;
        position: absolute;
        right: 5px;
        top: 35%;
        transform: scale(0);
      }

      &:hover {
        .copy-icon {
          transform: scale(1);
          visibility: visible;
          transition: .4s ease-out;
        }
      }
    }

  @include screen-992 {
      display: none;
    }

    .logo, .links, .copyable-text {
      cursor: pointer;

      a, span {
        position: relative;
        color: black;
      }

      &:hover {
        color: grey;
      }
    }

    .logo {
      font-weight: $font-medium;
      text-decoration: underline;
      font-size: 30px;
    }

    .links, .copyable-text {
      a, span {
        text-decoration: none;
        font-size: 16px;
        line-height: 19px;
        color: $dark-grey2;

        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 1px;
          bottom: 0;
          left: 0;
          background-color: black;
          visibility: hidden;
          -webkit-transform: scaleX(0);
          transform: scaleX(0);
          -webkit-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s;
        }

        &:hover {

          &::before {
            visibility: visible;
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
          }
        }
      }
    }

    .language-dropdown {
      position: relative;
      padding: 8px;
      cursor: pointer;

      .dropdown-menu {
        position: absolute;
        transform: scaleY(0);
        transition: margin-top 0.8s;
        padding: 16px;
        background: $orange;
        left: -8px;
        top: -8px;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        color: $white;
        border-radius: 8px;
        border: 1px solid $white;

        &.dropdown-visible {
          transform: scaleY(1);
          transition: margin-top 0.8s;
        }
      }
    }
  }
}

.language-dropdown {
  position: relative;
  padding: 8px;
  cursor: pointer;

  .lang-row {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .dropdown-menu {
    position: absolute;
    transform: scaleY(0);
    transition: margin-top 0.8s;
    padding: 16px;
    background: $orange;
    left: -8px;
    top: -8px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    color: $white;
    border-radius: 8px;
    border: 1px solid $white;

    &.dropdown-visible {
      transform: scaleY(1);
      transition: margin-top 0.8s;
    }
  }
}

.example-container {
  width: 400px;
  height: 200px;
  margin: 12px;
  border: 1px solid $grey;
}

mat-drawer-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.burger-menu {
  display: none;
}

.show-burger.burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 12px;
  position: fixed;
  background: rgba(244, 244, 244, 0.95);
  width: 280px;
  height: 100%;
  right: 0;
  left: 100%;
  bottom: 0;
  box-shadow: 0 2px 5px rgb(0 0 0 / 6%), 0 4px 6px -1px rgb(0 0 0 / 10%);
  animation: burger 0.5s forwards;
  z-index: 200;

  .selected-language.mobile {
    padding-left: 8px;
    padding-top: 8px;
  }

  .language-dropdown {
    padding: 0;
    margin-top: 20px;
  }

  .upper-block {
    margin-top: 60px;

    .links {
      a {
        text-decoration: none;
        font-size: 18px;
        color: black;
      }
    }
  }

  .lower-block {
    margin-bottom: 60px;

    a {
      text-decoration: none;
      color: $black;
    }
  }

  .close-menu {
    position: absolute;
    left: 165px;
    top: 25px;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
}

@keyframes burger {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-75%);
  }
}
