@use "/src/styles/variables/variables" as *;
@use "/src/styles/variables/media-mixins" as *;

.home-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: 750px;
  margin-top: -100px;

  @include screen-640 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }


  &__wrap {
    flex: 1 1 50%;
    max-height: 750px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;

    &.text {
      text-align: left;
      gap: 20px;
      font-size: 16px;
      padding-left: 150px;

      @include screen-1200 {
        padding: 0 75px;
      }

      @include screen-640 {
        align-items: center;
        padding: 100px 30px 0;
      }
      @include screen-360 {
        padding: 100px 15px 0;
      }

      h1 {
        font-style: normal;
        font-weight: $font-light;
        font-size: 66px;
        line-height: 64px;
        letter-spacing: 0.01em;
        color: $dark-grey;
        max-width: 520px;

        @include screen-640 {
          font-style: normal;
          font-weight: $font-light;
          font-size: 48px;
          line-height: 49px;
          letter-spacing: 0.01em;
          max-width: 360px;
        }
      }

      p {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 170%;
        max-width: 360px;
      }

      .get-started {
        font-family: $gilroy;
        padding: 8px 30px;
        margin-top: 34px;

        @include screen-640 {
          margin-bottom: 16px;
          max-width: 360px;
          width: 100%;
        }
      }
    }

    &.image {
      width: 100%;
      text-align: center;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.about-container {
  max-height: 385px;
  background: $whiteF4;
  display: flex;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 70px;

  @include screen-800 {
    flex-direction: column;
    max-height: unset;
  }

  &__wrap {

    &.logo {
      max-width: 490px;

      h2 {
        display: flex;
        flex-direction: column;
      }

      @include screen-800 {
        max-width: 570px;
      }
    }

    &.about-text {
      max-width: 570px;
    }


    width: 100%;

    &.show-about {
      display: none;
      margin-top: 10px;
      cursor: pointer;

      @include screen-640 {
        display: block;
        font-weight: $font-semi;
      }
    }

    h2, span {
      font-style: normal;
      font-weight: $font-light;
      font-size: 40px;
      line-height: 41px;
      letter-spacing: 0.005em;

      @include screen-640 {
        font-size: 32px;
        line-height: 33px;
      }
    }

    h2 {
      color: $black;
    }

    &.about-text {
      p {
        padding: 10px 0;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 170%;
        color: $black;
      }

      @include screen-800 {
        p:last-child {
          display: none;
        }
        p.show-all {
          display: block;
        }
      }
    }
  }
}

.services-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 80px;
  flex-direction: column;

  .free-consult {
    padding: 12px 34px;
  }

  @include screen-640 {
    padding-bottom: 0;
    .free-consult {
      display: none;
    }
  }
}

.what-people-say-container {
  justify-content: center;
  gap: 80px;
  background: $whiteF4;

  &__wrap {
    width: 100%;
    overflow: hidden;

    &.title {
      h2, span {
        font-style: normal;
        font-weight: $font-light;
        font-size: 40px;
        line-height: 44px;

        @include screen-640 {
          font-size: 32px;
          line-height: 33px;
        }
      }

      h2 {
        color: $black;
      }

      @include screen-640 {
        flex-direction: column;
        justify-content: flex-start;
      }
    }

    @include screen-640 {
      padding: 0;
    }
  }
}

.question-container {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;

  @include screen-640 {
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
    gap: 20px;
  }

  &__wrap {
    align-items: flex-start;
    flex-direction: column;

    h2, span {
      font-style: normal;
      font-weight: $font-light;
      font-size: 40px;
      line-height: 41px;

      @include screen-640 {
        font-size: 32px;
        line-height: 33px;
        text-align: center;
      }
    }

    h2 {
      color: $black;
      display: flex;
      flex-direction: column;
    }

    &.btn {
      @include screen-640 {
        width: 100%;
      }

      .order-call {
        font-weight: $font-bold;
        font-size: 16px;
        line-height: 24px;
        padding: 12px 34px;
        color: $black;

        @include screen-640 {
          line-height: 20px;
          width: 100%;
        }
      }
    }
  }
}


