<div class="home-container">
  <div class="home-container__wrap text">
    <h1 class="font-chester"> {{ 'aboutTitle' | transloco }} </h1>
    <p> {{ 'aboutText' | transloco }} </p>
    <button class="green-btn get-started"> {{ 'getStarted' | transloco | uppercase}}</button>
  </div>
  <div class="home-container__wrap image">
    <img src="../../../../assets/images/main-page.png" alt="">
  </div>
</div>
<div class="about-container container">
  <div class="about-container__wrap logo">
    <h2 class="font-chester">
      {{ 'aboutStudioLogoUpper' | transloco}} <span class="green font-chester">{{ 'aboutStudioLogoLower' | transloco}}</span>
    </h2>

  </div>
  <div class="about-container__wrap about-text">
    <p>{{ 'aboutStudioTextUpper' | transloco}}</p>
    <p [class.show-all]="showAllAbout">{{ 'aboutStudioTextLower' | transloco}}</p>
  </div>
  <div *ngIf="!showAllAbout" (click)="switchAbout()" class="about-container__wrap show-about">{{'ReadMore' | transloco | uppercase}}</div>
  <div *ngIf="showAllAbout" (click)="switchAbout()" class="about-container__wrap show-about">{{'Hide' | transloco | uppercase}}</div>
</div>
<div class="services-container">
  <app-our-services>

  </app-our-services>
  <button class="green-btn free-consult">
    {{'freeConsult' | transloco}}
  </button>
</div>
<app-our-portfolio [cardsOnPage]="viewCards"></app-our-portfolio>
<app-our-prices></app-our-prices>
<div class="what-people-say-container prom-container container">
  <div class="what-people-say-container__wrap title">
    <h2 class="font-chester">
      {{ 'What' | transloco }} <span class="green font-chester"> {{ 'People say' | transloco }}</span>
    </h2>
  </div>
  <div class="what-people-say-container__wrap">
    <app-swiper-component [reviews]="reviews"></app-swiper-component>
  </div>
</div>
<div class="question-container container">
  <div class="question-container__wrap">
    <h2 class="font-chester">{{ 'Do you have' | transloco }}
      <span class="green font-chester"> {{ 'Any question' | transloco }}?</span>
    </h2>
  </div>
  <div class="question-container__wrap btn">
    <button class="green-btn order-call" (click)="modal = true">{{ 'Order call' | transloco | uppercase}}</button>
  </div>
</div>

<app-contact-us-modal *ngIf="modal" (close)="modal = false"></app-contact-us-modal>
