@use "/src/styles/variables/variables" as *;
@use "/src/styles/variables/media-mixins" as *;

@font-face {
  font-family: 'BN Chester';
  src: url('../assets/fonts/BNChesterRegular.woff2') format('woff2'),
  url('../assets/fonts/BNChesterRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../assets/fonts/Gilroy-Medium.woff2') format('woff2'),
  url('../assets/fonts/Gilroy-Medium.woff') format('woff');
  font-weight: $font-medium;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../assets/fonts/Gilroy-Bold.woff2') format('woff2'),
  url('../assets/fonts/Gilroy-Bold.woff') format('woff');
  font-weight: $font-bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../assets/fonts/Gilroy-Regular.woff2') format('woff2'),
  url('../assets/fonts/Gilroy-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../assets/fonts/Gilroy-SemiBold.woff2') format('woff2'),
  url('../assets/fonts/Gilroy-SemiBold.woff') format('woff');
  font-weight: $font-semi;
  font-style: normal;
  font-display: swap;
}
