<div class="our-pricing-container prom-container container">
  <div class="our-pricing-container__wrap title">
    <h2 class="font-chester">
      {{ 'Our' | transloco }} <span class="green font-chester"> {{ 'Pricing' | transloco }}</span>
    </h2>
  </div>
  <div class="our-pricing-container__wrap title">
    <div class="our-pricing-container__wrap-banners">
      <div *ngFor="let banner of subscribeCards; let indexOfElement = index " [class]="isDoubleCard(indexOfElement) ? 'orange-banner' : 'white-banner'" class="banner">
        <h2 class="font-chester">{{ banner.name | transloco }}</h2>
        <div class="price font-chester">
          <h1>${{ banner.amount }}</h1>
          <p>{{ 'per mount' | transloco }}</p>
        </div>
        <div class="list">
          <p *ngFor="let feature of banner.description"> {{ feature | transloco }} </p>
        </div>
        <button>
          {{ 'Buy Now' | transloco}}
        </button>
      </div>
    </div>
  </div>
</div>
