@use "/src/styles/variables/variables" as *;
@use "/src/styles/variables/media-mixins" as *;

.our-pricing-container {
  padding-top: 100px;
  padding-bottom: 100px;
  gap: 70px;

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    &.title {
      h2, span {
        font-style: normal;
        font-weight: $font-light;
        font-size: 40px;
        line-height: 39px;

        @include screen-640 {
          font-size: 32px;
          line-height: 33px;
        }
      }

      h2 {
        color: $black;
      }
    }


    &-banners {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 80px;
      width: 100%;

      @include screen-1300 {
        gap: 20px;
      }

      @include screen-800 {
        flex-direction: column;
      }

      .banner {
        padding: 32px 0;
        line-height: 100%;
        border-radius: 8px;
        font-weight: normal;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        max-width: 270px;
        width: 100%;
        overflow: hidden;
        box-sizing: initial;

        @include screen-800 {
          padding-bottom: 0;
          padding-top: 24px;
          .price {
            display: flex;
            align-items: flex-end;
            padding-bottom: 25px;
            gap: 10px;
          }
        }

        h2 {
          font-style: normal;
          font-weight: $font-light;
          font-size: 24px;
          line-height: 23px;
          text-align: center;

          @include screen-640 {
            font-size: 20px;
            line-height: 19px;
          }

          margin-bottom: 30px;
        }

        h1 {
          font-style: normal;
          font-weight: $font-light;
          font-size: 44px;
          line-height: 43px;
          text-align: center;

          @include screen-640 {
            font-size: 28px;
            line-height: 27px;
          }
        }

        p {
          font-style: normal;
          font-weight: $font-light;
          font-size: 18px;
          line-height: 17px;
          text-align: center;
          padding-bottom: 25px;

          @include screen-800 {
            padding-bottom: 0;
            line-height: 125%;
          }

          @include screen-640 {
            font-size: 16px;
            line-height: 16px;
          }
        }

        .list {
          padding-top: 25px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          p {
            font-style: normal;
            font-weight: $font-medium;
            font-size: 15px;
            line-height: 180%;
            text-align: center;
            padding-bottom: 0;

            @include screen-640 {
              font-size: 14px;
              line-height: 180%;
            }
          }
        }

        button {
          cursor: pointer;
          margin-top: 55px;
          padding: 12px 34px;
          border-radius: 8px;
          background: $white;
          font-style: normal;
          font-weight: $font-bold;
          font-size: 16px;
          line-height: 24px;
          text-transform: uppercase;
          transition: .4s ease-out;

          @include screen-800 {
            margin-top: 30px;
            padding: 12px 0;
            width: 100%;
          }
        }
      }

      .white-banner {
        border: 1px solid $orange;
        background: $whiteFD;
        color: $black;

        .price p {
          color: $whiteBB;
        }


        .list {
          border-top: 1px solid $white-orange;
        }

        button {
          border: 2px solid #D3A265;

          @include screen-800 {
            border-radius: 0;
            border: 0;
            border-top: 1px solid $white;
            background: $orange;
            color: $white;
            margin-bottom: -1px;
            margin-left: -1px;
            margin-right: -1px;
          }

          &:hover {
            background: $orange;
            color: $white;
          }
        }
      }

      .orange-banner {
        border: 1px solid $whiteFD;
        background: $orange;
        color: $white;

        h2 {
          color: $white;
        }

        .list {
          border-top: 1px solid $white;
        }

        button {
          border: 2px solid $white;

          @include screen-800 {
            border-radius: 0;
            border: 0;
            border-top: 1px solid $white;
            background: $orange;
            color: $white;
          }

          &:hover {
            background: $orange;
            color: $white;
          }
        }
      }
    }
  }
}
