<div class="our-portfolio-container container">
  <div class="our-portfolio-container__wrap title">
    <h2 class="font-chester">
      {{ 'Our' | transloco }}  <span class="green font-chester"> {{ 'Portfolio' | transloco }}</span>
    </h2>
  </div>
  <div class="our-portfolio-container__wrap places">
    <div class="our-portfolio-container__wrap-cards">
      <div class="parameters">
        <div class="filters">
          <button *ngFor="let filter of filters" [class.active]="activeFilter === filter.index" (click)="setActive(filter.index)" class="filter-btn">
            {{ filter.text | transloco | uppercase}}
          </button>
        </div>
        <button *ngIf="!isPortfolioPage()" [routerLink]="'portfolio'" class="view-all">
          {{ 'ViewMore' | transloco }}
        </button>
      </div>
      <div *ngFor="let card of intereerCards" class="card">
        <img [src]="card.image" alt="">
      </div>
    </div>
  </div>
  <div class="our-portfolio-container__wrap view-more">
    <button (click)="addMoreCards()" *ngIf="!allCardsLoaded && isPortfolioPage()" class="green-btn">
      {{ "ViewMore" | transloco }}
    </button>
  </div>
</div>
