@use "/src/styles/variables/variables" as *;
@use "/src/styles/variables/media-mixins" as *;

.our-portfolio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  padding-top: 76px;
  padding-bottom: 78px;

  &.container {
  @include screen-480 {
      padding-left: 0;
      padding-right: 0;
    }
  }

@include screen-640 {
    padding-top: 55px;
    padding-bottom: 55px;
  }

  background: $whiteF4;

  &__wrap {
    width: 100%;

    &.title {
      h2,span {
        font-style: normal;
        font-weight: $font-light;
        font-size: 40px ;
        line-height: 39px;

      @include screen-640 {
          font-size: 32px;
          line-height: 33px;
        }
      }

      h2 {
        color: $black;
      }
    }

    &.places {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-cards {
      width: auto;
      margin-top: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 20px;

    @include screen-800 {
        grid-template-columns: 1fr 1fr 1fr;
      }

    @include screen-640 {
        grid-template-columns: 1fr 1fr;
      }

    @include screen-480 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 18px;
        width: 100%;
      }

      .parameters {
        grid-column: 1/5;

      @include screen-800 {
          grid-column: 1/4;
        }

      @include screen-640 {
          grid-column: 1/3;
        }

        .view-all {
          font-weight: $font-semi;
          font-size: 16px;
          line-height: 20px;
          text-align: right;
          text-decoration-line: underline;
          text-transform: uppercase;

        @include screen-640 {
            display: none;
          }
        }
      }

      .card {
        max-height: 320px;
        max-width: 270px;

      @include screen-480 {
          max-width: 100%;
          width: 100%;
          max-height: 270px;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    &.view-more {
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        padding: 12px 34px;
      }
    }

  }


  .parameters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      display: none;
    }



  @include screen-400 {
      max-width: 95%;

      &::-webkit-scrollbar {
        background: lightgrey;
        border-radius: 5px;
        height: 5px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $orange;
        border-radius: 5px;
      }
    }

    button {
      cursor: pointer;
      border: none;
      background: transparent;
    }

    .filters {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      max-width: 530px;
      width: 100%;


    @include screen-360 {
        justify-content: flex-start;
      }

      .filter-btn {
        top: 0;
        transition: 0.3s;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;

        &.active {
          color: $orange;
          font-weight: $font-semi;
        }

        &:hover {
          margin-top: -5px;
          transition: 0.3s;
        }
      }
    }
  }
}
