@use "/src/styles/variables/variables" as *;
@use "/src/styles/variables/media-mixins" as *;

.header {
  position: sticky;
  top: 0;
  transition: .5s;
  z-index: 1000;
}
.header.coloring-header {
  background: $white;
}
