<div (scroll)="onScroll()" class="main">
  <div [class.coloring-header]="!isOnTop" class="header" #header>
    <app-header>
    </app-header>
  </div>

  <router-outlet></router-outlet>

  <app-footer>
  </app-footer>
</div>
