@use "/src/styles/variables/variables" as *;
@use "/src/styles/variables/media-mixins" as *;

.footer-container {
  padding-top: 95px;
  padding-bottom: 95px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 480px;
  background: $whiteF4;

  @include screen-992 {
    padding: 20px 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    .contacts, .copyright {
      grid-column: 1/3;
      width: 100%;
    }
  }

  @include screen-640 {
    padding: 60px 30px 35px 30px;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    max-width: 300px;

    .text {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 170%;
      color: $black;
    }

    .copyright {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 150%;
    }

    .logo {
      a {
        color: black;
        font-size: 30px;
      }
    }

    h3 {
      font-weight: $font-semi;
      font-size: 16px;
    }

    &-navs {
      margin-top: 24px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      a {
        font-weight: normal;
        font-size: 14px;
        text-decoration: none;
        color: $black;
      }
    }

    &-links {
      display: flex;
      align-items: center;
      gap: 16px;

      @include screen-640 {
        justify-content: flex-end;
      }
    }

    .contact {
      h3 {
        font-style: normal;
        font-weight: $font-medium;
        font-size: 16px;
        line-height: 150%;
        color: $light-grey;
      }

      a, span {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 150%;
        color: $black;
        text-decoration: none;
      }

      &-wrap {
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }
  }
}

.desktop {
  @include screen-992 {
    display: none;
  }
}

.mobile {
  display: none;

  @include screen-992 {
    display: block;
  }
}
