<div class="footer-container container">
  <div class="footer-container__wrap">
    <div class="logo">
      <a routerLink="/">
        <img src="../../../../assets/images/logo.svg" alt="">
      </a>
    </div>
    <div class="text desktop">
      <p> {{'footer_text' | transloco}} </p>
    </div>
    <div class="copyright desktop">
      <p>©  2023 id Studio. All Rights Reserved.</p>
    </div>
  </div>
  <div class="footer-container__wrap">
    <h3 class="desktop" > {{'Navigation' | transloco | uppercase}}</h3>
    <div class="footer-container__wrap-navs desktop">
      <a *ngFor="let navigation of Navigations" [routerLink]="navigation.url"> {{ navigation.text | transloco }}</a>
    </div>
    <div class="footer-container__wrap-links">
      <a href="#">
        <img src="../../../../assets/images/links/facebook.png" alt="">
      </a>
      <a href="#">
        <img src="../../../../assets/images/links/tweeter.png" alt="">
      </a>
      <a href="#">
        <img src="../../../../assets/images/links/linked.png" alt="">
      </a>
    </div>
  </div>
  <div class="footer-container__wrap contacts">
    <h3> {{ 'Contacts' | transloco | uppercase }} </h3>
    <div class="contact">
      <h3>{{ 'Address' | transloco | uppercase}}</h3>
      <p>3517 W. Gray St. Utica, Pennsylvania 57867</p>
    </div>
    <div class="contact">
      <h3>{{ 'Email' | transloco | uppercase}}</h3>
      <a href="mailTo:michelle.rivera@idstudio.com">michelle.rivera@idstudio.com</a>
    </div>
    <div class="contact">
      <h3>{{ 'Phones' | transloco | uppercase}}</h3>
      <div class="contact-wrap"><a href="tel:(808) 555-0111">(808) 555-0111</a> <span>{{'or' | transloco}}</span> <a href="tel:(303) 555-0105">(303) 555-0105</a></div>
    </div>
  </div>
  <div class="copyright mobile">
    <p>©  2023 id Studio. All Rights Reserved.</p>
  </div>
</div>
