$screen-1300: 1300px;
$screen-1250: 1250px;
$screen-1200: 1200px;
$screen-992: 992px;
$screen-800: 800px;
$screen-640: 640px;
$screen-480: 480px;
$screen-400: 400px;
$screen-360: 360px;

@mixin screen-1300 {
  @media (max-width: #{$screen-1300}) {
    @content;
  }
}

@mixin screen-1250 {
  @media (max-width: #{$screen-1250}) {
    @content;
  }
}

@mixin screen-1200 {
  @media (max-width: #{$screen-1200}) {
    @content
  }
}

@mixin screen-992 {
  @media (max-width: #{$screen-992}) {
    @content;
  }
}

@mixin screen-800 {
  @media (max-width: #{$screen-800}) {
    @content;
  }
}

@mixin screen-640 {
  @media (max-width: #{$screen-640}) {
    @content;
  }
}

@mixin screen-480 {
  @media (max-width: #{$screen-480}) {
    @content;
  }
}

@mixin screen-400 {
  @media (max-width: #{$screen-400}) {
    @content;
  }
}

@mixin screen-360 {
  @media (max-width: #{$screen-360}) {
    @content;
  }
}
