$white: white;
$whiteDF: #DFDFDF;
$whiteFD: #FDFBF8;
$whiteF4: #F4F4F4;
$whiteBB: #BBBBBB;

$black: #161616;
$orange: #D3A265;
$grey: #555;
$dark-grey: #3D3737;
$dark-grey2: #352C2C;
$light-grey: #878787;
$white-orange: #DCD1BB;

$font-ultra-light: 300;
$font-light: 400;
$font-medium: 500;
$font-semi: 600;
$font-bold: bold;

$bn-chester: "BN Chester", sans-serif;
$gilroy: "Gilroy", sans-serif;
