<swiper [config]="swiperConfig" class="mySwiper">
  <ng-template *ngFor="let review of reviews" swiperSlide>
    <div class="profile-container">
      <div class="vertical-line"></div>
      <div class="profile-container__wrap">
        <div class="profile-container__wrap-image">
          <img [src]="review.avatar" alt="">
        </div>
        <div class="profile-container__wrap-text">
          <p class="profile-container__wrap-text-name">
            {{ review.name}}
          </p>
          <p class="profile-container__wrap-text-duty">
            {{ review.duty}}
          </p>
          <div class="profile-container__wrap-text-links">
            <div class="profile-container__wrap-text-links-tweeter link">
              <a [href]="review.tweeter_url">
                <img src="../../../../assets/images/links/tweeter.png" alt="">
              </a>
            </div>
            <div class="profile-container__wrap-text-links-linkedin link">
              <a [href]="review.tweeter_url">
                <img src="../../../../assets/images/links/linked.png" alt="">
              </a>
            </div>
            <div class="profile-container__wrap-text-links-facebook link">
              <a [href]="review.facebook_url">
                <img src="../../../../assets/images/links/facebook.png" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="profile-container__wrap text">
        <p>{{ review.text }}</p>
      </div>
    </div>
  </ng-template>
</swiper>
