<div class="services-container prom-container">
  <div class="services-container__wrap title">
    <h2 class="font-chester">
      {{ 'Our' | transloco }} <span class="green font-chester"> {{ 'Services' | transloco }}</span>
    </h2>
  </div>
  <div class="services-container__wrap cards">
    <div *ngFor="let card of Cards; let idx = index">
      <div [class.last]="idx === Cards.length-1" [class.first]="idx === 0" class="card">
        <img [src]="card.image" alt="">
        <h2 class="card-title">{{ card.title | transloco | uppercase}}</h2>
        <p class="card-text">{{ card.text | transloco }}</p>
      </div>
      <div [class.last]="idx === Cards.length-1" class="divider"></div>
    </div>
  </div>
</div>
