@use "/src/styles/variables/variables" as *;
@use "/src/styles/variables/media-mixins" as *;

.services-container {
  justify-content: center;

  @include screen-640 {
    gap: 30px;
  }

  &__wrap {
    display: flex;
    gap: 30px;
    align-items: center;

    &.title {
      gap: 10px;
    }

    h2, span {
      font-style: normal;
      font-weight: $font-light;
      font-size: 40px;
      line-height: 41px;
      text-align: center;
      letter-spacing: 0.005em;


      @include screen-640 {
        font-size: 32px;
        line-height: 33px;
      }
    }

    h2 {
      color: $black;

      @include screen-640 {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    &.cards {
      @include screen-1250 {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }

      @include screen-640 {
        gap: 0;
        display: flex;
        flex-direction: column;
      }

      .divider {
        display: none;

        @include screen-640 {
          display: block;
          height: 1px;
          width: 100%;
          background: $white-orange;

          &.last {
            display: none;
          }
        }
      }
    }

    .card {
      display: flex;
      gap: 20px;
      align-items: center;
      flex-direction: column;
      width: 270px;
      height: 260px;
      text-align: center;
      border-radius: 8px;
      transition: 0.4s;

      @include screen-640 {
        margin: 50px 0;

        &.first {
          margin-top: 0;
        }

        &.last {
          margin-bottom: 0;
        }
      }

      img {
        max-height: 90px;
        height: 100%;
      }

      .card-title {
        font-style: normal;
        font-weight: $font-semi;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
      }

      .card-text {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 170%;
        text-align: center;
        color: $light-grey;
      }
    }
  }
}
