<div class="backdrop" (click)="close.emit()">
  <div class="modal" (click)="$event.stopPropagation()">
    <h1 class="title font-chester"> {{'Contact Us' | transloco}} </h1>

    <form [formGroup]="form" (ngSubmit)="submit()">

      <div class="form-ceil">
        <div [class.invalid]="isFormInvalid('name')" class="form-control">
          <input formControlName="name" id="name" type="text" placeholder="{{'Your Name' | transloco }}">
        </div>
        <div *ngIf="isFormInvalid('name')" class="validation">
          <small *ngIf="isRequired('name')"> {{'Required field' | transloco}} </small>
        </div>
      </div>

      <div class="form-ceil">
        <div [class.invalid]="isFormInvalid('email')" class="form-control">
          <input formControlName="email" id="email" type="text" placeholder="{{'Your email' | transloco}}">
        </div>
        <div *ngIf="isFormInvalid('email')" class="validation">
          <small *ngIf="isRequired('email')"> {{'Required field' | transloco}} </small>
          <small *ngIf="isEmailInvalid()"> {{'Email is invalid' | transloco}} </small>
        </div>
      </div>

      <div class="form-ceil">
        <div [class.invalid]="isFormInvalid('message')" class="form-control">
          <textarea formControlName="message" id="message" type="text"
                    placeholder="{{'Your Message' | transloco}}">
          </textarea>
        </div>
        <div *ngIf="isFormInvalid('message')" class="validation textarea-validation">
          <small *ngIf="isRequired('message')"> {{'Required field' | transloco}} </small>
        </div>
      </div>


      <p class="success-message" [appTimer]="showSuccessMessage" (revertTrigger)="showSuccessMessage = false">{{'Success' | transloco}}!</p>

      <button type="submit" class="btn-submit" [disabled]="form.invalid"> {{'Send Message' | transloco}} </button>

    </form>

    <div class="close-modal" (click)="close.emit()">
      <svg width="20px" height="20px" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
        <title>close</title>
        <desc>Created with Sketch.</desc>
        <g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Rounded" transform="translate(-281.000000, -3481.000000)">
            <g id="Navigation" transform="translate(100.000000, 3378.000000)">
              <g id="-Round-/-Navigation-/-close" transform="translate(176.000000, 98.000000)">
                <g>
                  <polygon id="Path" points="0 0 24 0 24 24 0 24"></polygon>
                  <path
                    d="M18.3,5.71 C17.91,5.32 17.28,5.32 16.89,5.71 L12,10.59 L7.11,5.7 C6.72,5.31 6.09,5.31 5.7,5.7 C5.31,6.09 5.31,6.72 5.7,7.11 L10.59,12 L5.7,16.89 C5.31,17.28 5.31,17.91 5.7,18.3 C6.09,18.69 6.72,18.69 7.11,18.3 L12,13.41 L16.89,18.3 C17.28,18.69 17.91,18.69 18.3,18.3 C18.69,17.91 18.69,17.28 18.3,16.89 L13.41,12 L18.3,7.11 C18.68,6.73 18.68,6.09 18.3,5.71 Z"
                    id="🔹-Icon-Color" fill="#1D1D1D"></path>
                </g>
              </g>
            </g>
          </g>
        </g>
      </svg>
    </div>
  </div>
</div>
