@use "/src/styles/variables/variables" as *;
@use "/src/styles/variables/media-mixins" as *;

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, .3);
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    margin-bottom: 20px;
  }

  .modal {
    padding: 16px;
    background: $white;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 350px;

    @include screen-360 {
      width: 280px;
    }

    form {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 25px;
      width: 100%;

      .form-ceil {
        width: 100%;
        position: relative;
      }
    }

    .close-modal {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 20px;
      height: 20px;
      cursor: pointer;
    }

    .form-control {
      border: 2px solid $orange;
      display: flex;
      flex-direction: column;
      padding: 8px 10px;
      gap: 8px;
      border-radius: 3px;
      width: 100%;

      @include screen-360 {
        padding: 5px;
      }

      input, textarea {
        outline: none;
        border: 0;
        font-size: 14px;
      }

      textarea {
        resize: none;
        width: 100%;
        height: 80px;
      }

      &.invalid {
        border-color: red;
      }
    }

    .validation {
      color: red;
      position: absolute;
      top: 40px;
      left: 0;

      @include screen-360 {
        top: 35px;
      }

      &.textarea-validation {
        top: 100px;

        @include screen-360 {
          top: 95px;
        }
      }
    }

    .btn-submit {
      padding: 12px 34px;
      border: 2px solid $orange;
      border-radius: 5px;
      background: none;
      text-transform: uppercase;

      font-weight: $font-bold;
      font-size: 16px;
      line-height: 24px;
      color: $black;
      cursor: pointer;
    }

    .success-message {
      color: green;
    }
  }
}
