@use "/src/styles/variables/variables" as *;
@use "/src/styles/variables/media-mixins" as *;

.services-id-container {
  &__wrap {
    &.lower {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      border: 1px solid $orange;

      p {
        font-size: 28px;
      }

      .swiper-photo-container {
        width: 400px;
        height: 700px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    &-part-text {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
      padding: 12px;
      height: 100%;
      gap: 30px;
    }
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-slide {
    width: 100%;
  }

  .swiper-pagination {
    margin-top: 20px;
    position: relative;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-ordinal-group: 2;
    gap: 10px;
  }

  .designSwiper {
    min-width: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    max-width: 400px;
    max-height: 700px;
    overflow: hidden;

    @include screen-800 {
      display: none;
    }

    .swiper-wrapper {
      display: inline-flex;
    }

  }

  .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background: $whiteDF;
  }

  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: $orange;
  }
}

