<div class="services-id-container container prom-container">
  <div class="services-id-container__wrap lower">
    <div class="services-id-container__wrap-part">
      <swiper [autoplay]="true" class="designSwiper">
        <ng-template *ngFor="let design of designs" swiperSlide>
          <a [routerLink]="'/portfolio'" class="swiper-photo-container">
            <img [src]="design.image" alt="">
          </a>
        </ng-template>
      </swiper>
    </div>
    <div class="services-id-container__wrap-part-text">
      <img [src]="currentService?.image" alt="">
      <h1> {{ currentService?.title | transloco}} </h1>
      <p>
        {{ currentService?.text | transloco }}
      </p>
    </div>
  </div>
</div>
