@use "styles/fonts";
@use "/src/styles/variables/variables" as *;
@use "/src/styles/variables/media-mixins" as *;

@import "./src/app/shared/components/services-id/services-id/services-id.component";
@import "./src/app/shared/components/swiper/swiper-component.component";

* {
  font-family: $gilroy;
}

*.font-chester {
  font-family: $bn-chester;
}

.font-chester * {
  font-family: $bn-chester;
}


/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.container {
  padding: 0 135px
}

.container .title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px !important;
  gap: 10px;
  font-family: "BN Chester Pro", sans-serif;
}

@include screen-800 {
  .container .title {
    font-size: 24px !important;
  }
}

.green-btn {
  background: transparent;
  border: 2px solid $orange;
  border-radius: 5px;
  font-weight: $font-bold;
  cursor: pointer;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.green-btn:hover {
  background: $orange;
  color: $white;
  transition: 0.4s ease-out;
}

@include screen-1300 {
  .container {
    padding: 0 75px;
  }
}

@include screen-992 {
  .container {
    padding: 0 32px;
  }
}

@include screen-640 {
  .container {
    padding: 0 30px;
  }

}

@include screen-360 {
  .container {
    padding: 0 15px;
  }
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.prom-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  padding-top: 80px;
  padding-bottom: 80px;

  @include screen-640 {
    padding-top: 55px;
    padding-bottom: 55px;
  }
}

.green {
  color: $orange;
}

